<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EventBrite</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Accueil</a></li>
      <li><%= link_to 'Evenements', events_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to'Mon compte', edit_user_registration_path %></li>
            <li><%= link_to 'Créer un evenement', new_event_path %></li>
            <li><%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Se connecter', new_user_session_path %></li>
        <% end %>
    </ul>
  </div>
</nav>